<div class="container">
  <div id="piv-box" class="box">
    <div class="box-text" id="PivCardText">
      <h2>PIV Card</h2>
      <p class="info-text">Please insert your PIV card into the HID Omnikey scanner</p>
      <p ng-if="pivLoading"><img src="../images/loading.gif" class="loading-gif"></i></p>
    </div>
  </div>

  <div id="dl-box" class="box">
    <div class="box-text" id="DriverLicenseText">
      <h2>Driver's License</h2>
      <p class="info-text">Please scan your license using the Assuretec scanner</p>
      <p ng-if="dlLoading"><img src="../images/loading.gif" class="loading-gif"></i></p>
    </div>
  </div>

  <div id="pp-box" class="box">
    <div class="box-text" id="PassportText">
      <h2>Passport</h2>
      <p class="info-text">Please scan your passport using the SnapShell scanner</p>
      <p ng-if="ppLoading"><img src="../images/loading.gif" class="loading-gif"></i></p>
    </div>
  </div>

  <div id="bc-box" class="box">
    <div class="box-text" id="BarcodeText">
      <h2>QR Code</h2>
      <p class="info-text">Please scan your QR Code using the scanner below</p>
      <p ng-if="qrLoading"><img src="../images/loading.gif" class="loading-gif"></i></p>
    </div>
  </div>
</div>

<piv-overlay></piv-overlay>
<license-overlay></license-overlay>
<barcode-overlay></barcode-overlay>
