<div class="overlay overlay-contentpush" id="overlay-first" style="padding-top:75px;">
  <button type="button" class="overlay-close" ng-click="noLoading()">Close</button>
  <nav class="visitor-nav">
    <ul>
      <li>
        <a><i class="fa fa-user"></i> Visitor Name</a>
        <p>{{visitor.name}}</p>
      </li>
    </ul>
  </nav>
  <nav class="visitor-nav">
    <ul>
      <li ng-if="!noResults">
        <a><i class="fa fa-user"></i> Visiting</a>
        <p class="name">{{schedule.tenant_contact.name}}</p>
        <a><i class="fa fa-building"></i> Tenant</a>
        <p class="address">{{schedule.tenant.name}} <br> {{schedule.tenant.floor}} {{schedule.tenant.suite}}</p>
        <a><i class="fa fa-clock-o"></i> Time</a>
        <p class="dob">{{schedule.visit_start_time | date:'hh:mm a'}} - {{schedule.visit_end_time | date:'hh:mm a'}}</p>
      </li>
      <li ng-if="multipleVisits">
        <i class="fa fa-arrow-left arrows" ng-click="previousTenant()"></i>
        <i class="fa fa-arrow-right arrows" ng-click="nextTenant()"></i>
        <a><em>Tap arrows to search today's scheduled visits.</em></a>
      </li>
      <li ng-if="!noResults">
        <div class="progress-button">
          <button><span>Confirm Visit</span></button>
          <svg class="progress-circle" width="70" height="70"><path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/></svg>
          <svg class="checkmark" width="70" height="70"><path d="m31.5,46.5l15.3,-23.2"/><path d="m31.5,46.5l-8.5,-7.1"/></svg>
          <svg class="cross" width="70" height="70"><path d="m35,35l-9.3,-9.3"/><path d="m35,35l9.3,9.3"/><path d="m35,35l-9.3,9.3"/><path d="m35,35l9.3,-9.3"/></svg>
        </div><!-- /progress-button -->
      </li>
      <li ng-if="noResults">
        <a><em>Could not find a schedule. <br> Please search the tenant directory to contact your host.</em></a>
        <div class="progress-button" ng-click="goToTenantCall()">
          <button><span>Tenant Directory</span></button>
          <svg class="progress-circle" width="70" height="70"><path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/></svg>
          <svg class="checkmark" width="70" height="70"><path d="m31.5,46.5l15.3,-23.2"/><path d="m31.5,46.5l-8.5,-7.1"/></svg>
          <svg class="cross" width="70" height="70"><path d="m35,35l-9.3,-9.3"/><path d="m35,35l9.3,9.3"/><path d="m35,35l-9.3,9.3"/><path d="m35,35l9.3,-9.3"/></svg>
        </div><!-- /progress-button -->
      </li>
    </ul>
  </nav>
</div>